 .form{
     h4{
         margin-bottom: 33px;
         margin-top: 67px;
     }
       @include tablet {
        margin-top: 140px;
    }
    @include mobail {
       width: 300px;
    }
 }


 .input{
    background-color: $dark;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 383px;
font-style: 14px;
color: #E0E0E0;
margin-bottom: 20px;
padding-bottom: 10px;
@include mobail {
    width: 100%;
 }

}
textarea{
      border: none;
    background-color: $dark;
    //border: 1px solid #BDBDBD;
    width: 383px;
    height: 115px;
    width: 380px;
    @include mobail {
        width: 100%;
     }
}

fieldset{

    height: 144px;
    width: 380px;

    border-radius: 3px;
    @include mobail {
        width: 100%;
     }
}
.btn-send{
    margin-left: 234px;
margin-top: 20px;
    background-color: $dark;
    color: $base;
    font-size: 14px;
line-height: 16px;
border: none;
width: 100px;
// background-image: url("../../assets/index/send.png");
// background-repeat: no-repeat;
img{
    width: 48px;

}
@include mobail {
    margin-left: 148px;
 }
}
.label{

    margin-left: 6px;
    color: #BDBDBD
}
#agree  {
    background-color: $dark;
    border: 1px solid #BDBDBD;

}
