.slider-watch{
    background-image: url("./src/assets/Group 16.png");
    background-repeat: no-repeat;
    background-position: top 50% left 0;
    position: absolute;
    right: 0;
    bottom: 311px;
    width:1100px ;


}
.vector{
    width: 17px;
    height: 30px;
margin-top: 300px;
&:hover{
    cursor: pointer;
    transform: scale(1.2);

}
}
.slider-container-ourMission{
   display: flex;
   justify-content: space-between;
    width: 1200px;
}
.slider-container{
    margin-left: 107px;

 display: flex;
    .sl-panda{
        margin-left: 46px;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;

        .content-pict{
            position: absolute;
            bottom: 20px;
            width: 210px;
            color: $base;
            margin-left: 20px;
            text-align: center;
            >a{
                text-decoration: none;
                color: $base;
                margin-right: 5px;
            }

        }
    }

}
.slider-item{
margin-left: 46px;
margin-top: auto;
margin-bottom: auto;

}
.pointer{
    cursor: pointer;
}