.map-content{
    padding-top: 60px;
    padding-bottom: 100px;
    .wrapper{
        flex-direction: column;
        align-items: center;
        h3{
            margin: 0;
        }
        p{
            margin-top: 20px;
            margin-bottom: 79px;
            width: 790px;
            font-size: 14px;
        }
    }
    .btn{
        margin-top: 60px;
    }
}