.content{
    display: flex;
    padding-top: 60px;
    padding-bottom: 100px;
    .wrapper{
        flex-direction: column;
    }
}
.animal-content{
    display: flex;
}
.text-content{
    width: 380px;
    margin-left: 30px;
    font-size: 14px;
    >p{
        margin-top: 6px;
        margin-bottom: 12px;
    }
    .btn{
        width: 194px;
        margin-top: 35px;
    }
}
.slider-BROADCAST{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 40px;
margin-top: 65px;
}
.round-animal{
    display: inline-block;
width: 157px;
height: 157px;
border-radius: 50%;
 padding: 10px;
margin-bottom: 10px;
>img{
   width: 137px;
    height: 137px;
    border-radius: 50%;
    object-fit: unset;
}
}
  .panda{
     background-image: url('./src/assets/index/4-1.png');
     width:108px;
     height: 108px;
      background-size:cover;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;


//     //  border-image-source: linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);
  }
 .bird{
     background-image: url('./src/assets/index/4-2.png');
     width:108px;
height: 108px;
      background-size:cover;
      margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
 }
 .monkey{
     background-image: url('./src/assets/index/4-3.png');
     width:108px;
     height: 108px;
           background-size:cover;
           margin-left: auto;
           margin-right: auto;
           background-repeat: no-repeat;

 }
 .crocodail{
     background-image: url('./src/assets/index/4-4.png');
     width:108px;
     height: 108px;
           background-size:cover;
           margin-left: auto;
           margin-right: auto;
           background-repeat: no-repeat;
 }

.active-round{
    // border-image-source: linear-gradient(to right, red , green);
    border: 3px solid red  ;
    width: 137px;
    height: 137px;

}
.vectorBg{
    background-image: url('./src/assets/index/vectorL.png');
    background-repeat: no-repeat;
margin-bottom: 48px;

     width:18px;
     height:30px;
}
.vectorBgL{
    background-image: url('./src/assets/index/vectorR.png');
    background-repeat: no-repeat;
margin-bottom: 48px;

     width:18px;
     height:30px;
}
.small-video{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}

.vectorUp{
    transform: rotate(90deg);
    position: absolute;
   top: -350px;
    left: 50%;
}
.vectorDown{
    position: absolute;
    transform: rotate(-90deg);
    left: 46%;

    bottom: 88px;

}