$gradient: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
$gradient-hover: linear-gradient(106.89deg,#4ce6f1  -14.32%, #62eecb 100.68%);
$gradient-round: linear-gradient(103.3deg, #07EEE0 -15.1%, #DF496D 92.15%);



$base: #FEFEFE;
$dark:#3C3C3C;
$text:rgba(51, 51, 51, 1);
$bgLight:#F2F2F2;

$big: 1200px;
$middle: 1200px;
$tablet: 640px;
$mobail: 320px;