.map{

    background-color: $bgLight;
    padding-top: 100px;
    padding-bottom: 100px;
    .wrapper{
        flex-direction: column;
        align-items: center;
    }
    .btn{
        margin-top:36px ;
    }
    h3{
        margin-bottom: 60px;
    }
}
.map-container{
    position: relative;
}
.mark-map-b{
    position: absolute;
    left: 10.58%;
    top: 15%;

}
.mark-map-cr{
    position: absolute;
    left: 20%;
    top: 19%;

}
.mark-map-m{
    position: absolute;
    left: 47.58%;
    top: 37%;

}
.mark-map-p{
    position: absolute;
    left: 73.58%;
    top: 17%;

}
.mark-hover:hover{
    cursor: pointer;
    fill: rgb(255, 38, 0) !important;


}
.mark-hover{

}.redP{
    fill: rgb(255, 38, 0)
}


  .mark:hover .tooltip{
         display: flex;
  }

.tooltip {
    display: none;
     position: absolute;
    z-index: 2;
    top: 80px;
    left: 30px;
    padding: 40px;
    width: 460px;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    background-color: $base;


  }



  .tooltip-pict {

margin-top: 15px;

img{

    width: 90px;
      height: 90px;
              display: block;
object-fit: cover;
     border-radius: 50%;
    // background-position: center;
    // background-size: cover;
    // flex-shrink: 0;
}

}



  .tooltip-content{
    margin-left: 20px;
    text-align: left;
  }


