.our-mission{
    background: $bgLight;
    padding-top: 100px;
    padding-bottom: 132px;
    @include mobail{
        padding-bottom: 50px;
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
        @include middle{
            width:900px;

         }
         @include tablet{
             width: 600px;
            flex-direction: column;
            align-items: center;

         }
         @include mobail{
             width: 310px;
         }

    }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;

    h4{
     margin-top: 15px;
    margin-bottom: 15px;
    }
    p{
        margin: 0;
        font-size: 14px;
    }

    @include middle{
        width: 287px;
    }
    @include tablet{
     margin-bottom: 50px;

     }
    @include mobail{
   width: 100%;

     }
}

