.our-mission{
    background: $bgLight;
    padding-top: 100px;
    padding-bottom: 132px;
    .wrapper{
        display: flex;
        justify-content: space-between;
    }
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;

    h4{
     margin-top: 15px;
    margin-bottom: 15px;
    }
    p{
        margin: 0;
        font-size: 14px;
    }
}

  .hover-img:hover {
        transform: scale(1.02);
       @extend %transition;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
