.wrapper{
    max-width:$big;
    width: 100%;
    margin: auto;
display: flex;
@include middle{
    width:900px;
 }
 @include tablet{
    width:600px;
 }
 @include tablet{
    width:300px;
 }
}

.wrapper-big{
    max-width:1400px;
    width: 100%;
    margin: auto;
display: flex;
@include middle{
   width:1000px;

}
@include tablet{
    width:610px;
 }
@include mobail{
    width:310px;
 }
}